<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="The personal portfolio for Tony Lopez, an apsiring young Software Developer seeking to change the world one line of code at a time.">
    <meta name="author" content="Tony Lopez">

    <!-- Facebook meta tags -->
    <meta property="og:url" content="http://tonelope.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Tony Lopez's Professional Portfolio" />
    <meta property="og:description"
        content="The personal portfolio for Tony Lopez, an apsiring young Software Developer seeking to change the world one line of code at a time." />
    <meta property="og:image" content="img/team/tony.jpg" />

    <title>Tony Lopez's Portfolio</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/agency.css" rel="stylesheet">
    <link href="css/theme.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
        type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index" ng-app="myPortfolio">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Tony Lopez</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a href="content/tlopez-resume.pdf" target="_blank">Resume</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#experience">Experience</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#projects">Projects</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#skills">Skills</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#connect">Connect</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Hello.</div>
                <div class="intro-lead-in">My name is Tony Lopez.</div>
                <div class="intro-lead-in">I make quality software.</div>
                <a href="#about" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>

    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Me</h2>
                    <h3 class="section-subheading text-muted">My entire life... contained within a few &lt;div&gt;
                        containers.</h3>
                </div>
            </div>
            <div class="row hidden-sm hidden-md hidden-lg">
                <img src="img/team/tony.jpg" class="img-responsive img-circle margin-ctr" alt="">
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>Professional</h4>
                            <p class="text-justify">As mentioned in the tagline above, I create quality software. In all
                                of my professional, I am very driven and motivated to raise the bar on everything that I
                                attach my name to. My ideas, actions, and work ethic are key features that drive my
                                quality of output. I am not afraid to work with others, work hard, or work long hours. I
                                am not afraid to try, fail, or succeed.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 hidden-xs">
                    <div class="team-member">
                        <i class="fa fa-laptop"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 hidden-xs">
                    <div class="team-member">
                        <img src="img/team/tony.jpg" class="img-responsive img-circle" alt="">
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>Personal</h4>
                            <p class="text-justify">Outside of my professional career, I enjoy being active and
                                accomplishing life goals. I have completed 3 marathons and 11 half-marathons. If I see
                                an opportunity to play a sport in my free-time, I rarely pass it up.</p>
                            <p class="text-justify">I'm a very active tennis player. I played college tennis at the
                                University of Nebraska-Kearney, played in several professional qualifying events, and in
                                2017 I achieved a U.S. national ranking in the Men's Open Division. I love a good game
                                of tennis regardless of who I am playing with. It is a beautiful one-on-one sport that I
                                believe brings out the best in people who play it.</p>
                            <p class="text-justify">I was born and raised in Omaha Nebraska, have spent a fair amount of
                                time in Ames Iowa, and most recently have been living in Sydney Australia. I am
                                currently seeking new residence with my wife, Stephanie, and our “pomchi” canine
                                companion, Fibi.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>Resume</h4>
                            <p class="text-justify">I do my best to keep relevant professional information below but if
                                you'd like to download a copy of my full resume I have made that available here.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 hidden-xs">
                    <div class="team-member">
                        <a id="getResume" href="content/tlopez-resume.pdf" target="_blank">
                            <i class="fa fa-file resumeLogo"></i>
                            <br>
                            <br>
                            <span class="btn btn-primary btn-lg">Get Resume</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="experience" class="bg-light-1" data-ng-controller="ExperienceController as experience">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading">{{experience.headers.workHistory.title}}</h3>
                    <h3 class="section-subheading text-muted">{{experience.headers.workHistory.subtitle}}</h3>
                </div>
            </div>
            <div class="row sub-row job-row" data-ng-repeat="job in experience.jobs">
                <div class="col-md-3 role-info">
                    <a ng-href="{{job.company.url}}">{{job.company.name}}</a>
                    <p class="title">{{job.title}}</p>
                    <p class="dates">{{job.startDate}} - {{job.endDate}}</p>
                </div>
                <div class="col-md-9 role-short-details">
                    <ul>
                        <li data-ng-repeat="shortDetail in job.shortDetails track by $index">
                            {{job.shortDetails[$index]}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Software Projects Section -->
    <section id="projects" ng-controller="portfolioCtrl">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading">Software Projects</h3>
                    <h3 class="section-subheading text-muted">All of my hard work. Click a project to view more
                        information about it.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item" ng-repeat="project in projects">
                    <a href="#portfolioModal{{$index}}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img ng-src="{{project.thumbnailImageUrl}}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{project.title}}</h4>
                        <p class="text-muted">{{project.shortDescription}}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h4 class="section-subheading">Public Code Repositories:</h4>
                </div>
                <div class="col-lg-12 text-center">
                    <ul class="list-inline social-buttons">
                        <li><a href="//github.com/lopezton" target="_blank"><i class="fa fa-github"></i></a></li>
                        <li><a href="//bitbucket.org/lopezton" target="_blank"><i class="fa fa-bitbucket"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="education" data-ng-controller="ExperienceController as experience" class="bg-light-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading">{{experience.headers.education.title}}</h3>
                    <h3 class="section-subheading text-muted">{{experience.headers.education.subtitle}}</h3>
                </div>
            </div>
            <div class="row sub-row education">
                <div class="col-md-3">
                    <h5 class="service-heading">University of Nebraska-Kearney</h5>
                </div>
                <div class="col-md-9">
                    <p>
                        <span class="label label-normal">Date of Graduation:</span>
                        <span class="text-muted">December 2012</span>
                        <br>
                        <span class="label label-normal">Major:</span>
                        <span class="text-muted">Bachelors of Science in Mathematics</span>
                        <br>
                        <span class="label label-normal">Minor:</span>
                        <span class="text-muted">Computer Science</span>
                        <br>
                        <span class="label label-normal">Other:</span>
                        <span class="text-muted">Actuarial Science, K-12 Math Education</span>
                    </p>
                </div>
            </div>

            <div class="row sub-row education">
                <div class="col-md-3">
                    <h5 class="service-heading">Omaha Central HS</h5>
                </div>
                <div class="col-md-9">
                    <p>
                        <span class="label label-normal">Date of Graduation:</span>
                        <span class="text-muted">May 2006</span>
                        <br>
                        <span class="label label-normal">Focus:</span>
                        <span class="text-muted">Computer Science, Mathematics</span>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="certifications" data-ng-controller="ExperienceController as experience">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading">{{experience.headers.certifications.title}}</h3>
                    <h3 class="section-subheading text-muted">{{experience.headers.certifications.subtitle}}</h3>
                </div>
            </div>
            <div class="row sub-row certification">
                <div class="col-sm-12" data-ng-repeat="cert in experience.certifications">
                    <h5>{{cert.title}}</h5>
                    <p>
                        <span class="dateLabel">Date Certified: </span>
                        <span class="date">{{cert.date}}</span>
                    </p>
                    <a data-ng-href="{{cert.url}}">View Certificate</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Skills Section -->
    <section id="skills" class="bg-light-1" ng-controller="skillsCtrl">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading">My Skills</h3>
                    <h3 class="section-subheading text-muted">All of the skills and tools I think I'm good at using.
                    </h3>
                </div>
            </div>
            <div class="row">
                <div id="skill_{{$index + 1}}" class="skill" ng-repeat="skill in skills">
                    <a href="{{skill.link}}" title="{{skill.title}}">
                        <span class="img-responsive img-centered logoSprite" alt="{{skill.title}}"
                            style="background-position: 125px -{{$index * 125}}px;"></span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="connect">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Connect With Me</h2>
                    <h3 class="section-subheading text-muted">Want to hire me? Want to grab some lunch? Drop me a
                        message!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="alert alert-warning" role="alert">
                        <p>If you would like to contact me, please feel free to contact me via email at: <a
                                href="mailto:tony.lopez1013@gmail.com">tony.lopez1013@gmail.com</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; 2015-2020 tonelope.com</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="//twitter.com/tonylopez1013"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="//www.facebook.com/tony.lopez.3386"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="//www.linkedin.com/profile/view?id=210853076"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li><a href="//github.com/lopezton"><i class="fa fa-github"></i></a></li>
                        <li><a href="//bitbucket.org/lopezton"><i class="fa fa-bitbucket"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <!-- Links here -->
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Portfolio Modals -->
    <div id="portfolioModals" ng-controller="portfolioCtrl">
        <div ng-repeat="project in projects" class="portfolio-modal modal fade" id="portfolioModal{{$index}}"
            tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>{{project.title}}</h2>
                                <p class="item-intro text-muted">{{project.shortDescription}}</p>
                                <h5 ng-if="project.link" class="text-left">
                                    <a href="{{project.link}}" target="_blank">Project Website</a>
                                </h5>
                                <h5 class="text-left">About | {{project.title}}</h5>
                                <p class="text-justify">{{project.longDescription}}</p>
                                <div ng-repeat="image in project.images">
                                    <img class="img-responsive img-centered" ng-src="{{image.url}}" alt="">
                                    <p class="imageCaption">{{image.caption}}</p>
                                </div>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i
                                        class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- AngularJS -->
    <script src="js/angular.min.js"></script>
    <script src="app/app.module.js"></script>
    <script src="app/controllers/portfolio/portfolioController.js"></script>
    <script src="app/controllers/skills/skillsController.js"></script>
    <script src="app/controllers/experience/experienceController.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/agency.js"></script>
</body>

</html>